.grid-container {
    display: grid;
    grid-template-columns: 1.2fr 0.9fr 0.9fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: ". . ." ". . ." ". . .";
  }
main{
    grid-column-start: 1;
    grid-column-end: 4;
}
html, body{
    background-color: white;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
h2{
    color: white;
    background: red;
    display: inline;
}
.img{
    width: 35%;
    height: auto;
}
aside{
    float: right;
}
.title{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate (-50%, -50%);
}
.signup{
    position: relative;
    text-align: center;
    color: #ef8f30;
}
label, input, button{
    display: block;
    text-align: center;
}
.player{
    margin-left: 50px;
    padding: 30px 50px 30px 50px;
    border-radius: 12px;
    background-color: #e22b2b;
    color: white;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-family: roboto;
    font-size: 50px;
}
.playersport{
    margin-left: 50px;
    padding: 30px 50px 30px 50px;
    border-radius: 12px;
    background-color: #3d9b3d;
    color: white;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-family: roboto;
    font-size: 50px;
}
.playerboard{
    margin-left: 50px;
    padding: 30px 50px 30px 50px;
    border-radius: 12px;
    background-color: #1651d6;
    color: white;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-family: roboto;
    font-size: 50px;
}