html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  * {
    box-sizing: inherit;
  }
  img {
    width: 100%;
    height: auto;
  }
  * {
    box-sizing: border-box;
  }
  .navbar {
    overflow: hidden;
    background-color: #e22b2b;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: roboto;
    font-size: larger;
  }
  .navbar a {
    float: left;
    display: block;
    color: #eaeaea;
    text-align: center;
    padding: 25px 40px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background: red;
    color: lightgrey;
  }
  .item1 {
    margin-top: px;
    grid-area: a;
  }
  
  .grid-container {
    display: grid;
    grid-template-areas: 
    'a a e b b'
    'c c e b b'
    'c c e b b'
    'd d d d d';
  }
  .item2{
      text-align: left;
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 2;
      font-family: lato;
      margin-left: 15px;
  }
  .photo{
      width:50%;
      margin-top: 5px;
      margin-left: 15px
  }
  h2{
      color: #e22b2b;
      font-family: roboto;
      font-size: 200%;
  }
.signup{
    grid-area: b;
}
.form-contract{
    font-family: roboto;
    color: gold;
    font-size: 15px;
    display: block;
    margin-left: 1250px;
}
input{
    display: block;
    padding: 5px;
    border-radius: 10px;
    border: none;
    width: 60%;
}
label{
    display: inline;
}